@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', 'sans-serif';
    min-width: 310px;
    font-size: 0.8em;
    font-weight: 500;
    color: rgb(70, 70, 70);
}

a {
    color: inherit;
    text-decoration: none;
  }
h1{
    font-size: 1.4em ; 
    font-weight: 700;
    color: black;
}
h2{
    font-size: 0.9em ; 
    font-weight: 700;
    color: black;
}


/*HEADER*/

header {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 2em;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 0px;
    order: 1;
    flex:2;
}
.logo img{
    height: 3em;
}

.navmenu{
    display: flex;
    margin: 0px;
    padding: 0px;
    order: 2;
    flex:0;
}
li{
    padding-block: 2em;
    margin-left: 2em;
    list-style-type: none;
    border-top: 2px #0065fc00 solid;
}
li:hover {
    border-top: 2px #0065FC solid;
    border-bottom: 0px;
    color: #0065FC ;
}
li:active {
    border-top: 2px #0065FC solid;
    border-bottom: 0px;
    color: #0065FC ;
}

.signup_btn{
    font-weight: 700;
    color: #0065FC;
    margin-left: 2em;
    order: 3;
    flex:0;
}

@media all and (max-width:700px){
header{
    
}
header {
    margin: 0px;
    padding: 0px;
    }
    
.navmenu{
    display: flex;
    padding-inline: 0px;
    order: 3;
    justify-content: space-between;
    flex: 1;
    flex-basis: 100%;
}
li{
    list-style-type: none;
    margin: 0px;
    padding-block: 2em;
    border-bottom: 3px #F2F2F2 solid;
    width: 100%;
    text-align: center;
}
li:hover {
    border-top: 3px #0065fc00 solid;
    border-bottom: 3px #0065FC solid;
    color: #0065FC ; 
}
li:active {
    border-top: 3px #0065fc00 solid;
    border-bottom: 3px #0065FC solid;
    color: #0065FC ;
}

.signup_btn{
    display: flex;
    justify-content: end;
    padding-top: 1em;
    padding-inline: 2em;
    font-weight: 700;
    color: #0065FC;
    flex: 0 ;
    flex-basis: 20%;
    order: 2;
}
.logo{
    padding-top: 1em;
    padding-inline: 2em;
    flex-basis: 80%;
    flex: 2;
    order: 1;
    }
}

/*SEARCH SECTION*/
.search_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 2em;
    align-items: flex-start;
}
.search_info{
    margin-block: 0.9em ;
}
.search_info p,h1{
    margin-block: 0.3em;
}
.search_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;

}
input{
    border: none;
    outline: none;
    color: black;
    padding-inline: 0.7em;
}
.search_btn{
    padding-inline: 0.7em;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-inline: 0.9em;
    padding-block: 0.7em;
    background:#0065FC ;
    color: white;
}
.marker_icon{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-inline: 0.9em;
    padding-block: 0.7em;
    background: rgb(231, 231, 231) ;
    color: black;
}

.box_filter{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 2em;
    max-width: 1440px;
    margin-inline: auto;
    margin-top: 1em;
    justify-content: start;
    align-items: center;
}
.filter_text{
    margin-right: 0.5em;
}
.filter_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:rgb(231, 231, 231) solid 2px;
    margin-right: 0.2em;
    border-radius: 20px;
    margin: 0.2em;
}
.filter_icon{
    background: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3em;
    min-height: 3em;
    border-radius: 100%;
    color: #0065FC;
}
.filter_item h2{
    padding-inline:1em;
}
.filter_info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 2em;
}
.info_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    color:#0065FC ;
    border:solid rgb(231, 231, 231) 1px;
    min-width: 1.6em;
    min-height: 1.6em;
    border-radius: 100%;
    text-align: center;
    margin-right: 1em;
}

@media all and (max-width:700px){
.filter_text{
flex: 1;
flex-basis: 100%;}
}

/* CONTENT SECTION */
.main_section{
    display: flex;
    max-width: 1440px;
    margin-inline: auto;
    background-color: red;
    padding: 2em;
    justify-content: space-between;
}
/* MAIN*/
.search_result {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border: solid 2px blue;
    flex-basis: 70%;
    margin-right: 2em;
    border-radius: 15px;
    padding: 2em;
    order: 1;
}
.search_result h1{
    margin-left: 1em;
}
.show_more{
    margin-left: 1em;
}
.card_container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 20px;
    min-width: 260px;
    flex: 1 0 28%;
    margin: 1.2em;
    padding: 0.3em;
    box-shadow: 0 0 10px 0 #00000025;

}

.card_img{
    height: 120px;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
}
.img1{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.img2{
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.img3{
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.img4{
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.img5{
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.img6{
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}


.card h2 {
    margin: 1em 0 0 1em;
    padding: 0px;
}

.card p {
    margin: 1em 0 0 1em;
    padding: 0px;
}
.rating{
    margin: 1em 0 1em 1em;
    color: royalblue;
    font-size: 0.7em;
}


/*ASIDE*/
.aside {
    background-color: #F2F2F2;
    border: solid 2px blue;
    flex-basis: 30%;
    border-radius: 15px;
    order: 2;
    padding: 2em;
}
.aside_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside_main_card_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding:0px;
    background-color: red;
}
.aside_card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    padding: 0.3em;
    border-radius: 15px ;
    background-color: white ;
}
.aside_card_img{
    flex-basis: 40%;
    background-color: rosybrown;
}
.aside_card_info{
    padding: 0.5em;
}
.rating_aside{
    margin: 2em 0 0 0;
    color: royalblue;
    font-size: 0.7em;
}
.aside_card_img{
    border-radius: 15px 0 0 15px;
    background-size: cover;
    background-position: center;
}
.img1_aside{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}